.login-article{
    margin: 100px 0px;
    height: 40vh;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-article form{
    height: 100%;
    box-sizing: border-box;
    width: 500px;
    padding: 30px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-article h1{
    font-weight: 1;
}
.login-article form label{
    width: 70%;
}

.login-article form label input{
    width: 100%;
    padding: 10px;

    background-color: rgb(235, 235, 235);
    border: 0;
    border-radius: 10px;

    font-size: 1.1em;
}

.login-button{
    width: 70%;
    background: linear-gradient(150deg, rgb(138, 43, 234), rgb(235, 54, 243));
    border-radius: 10px;
    padding: 5px;

    font-size: 1.2em;
    color: rgb(236, 235, 235);
    text-decoration: none;
    text-align: center;
}

.login-article p{
    font-size: 0.75em;
}

.login-link:visited{
    color: black;
}


/* ----- non specific media queries -----*/

@media (width <= 900px) {
    .login-article form label input{
        font-size: 1.3em;
    }
}

/* ----- mobile media queries -----*/

@media (width <= 480px) {
    .login-article form{
        background-color: rgba(255, 255, 255, 0);
    }

    .login-article form label input{
        background-color: rgb(255, 255, 255);
        font-size: 1.5em;
    }

    .login-article h1, .login-article p, .login-link, .login-link:visited{
        color: rgb(255, 255, 255);
    }

    .login-button{
        background: rgb(255, 255, 255);
        color: black;
        width: 50%;
        border-radius: 20px;
    }

    .login-article h1{
        font-size: 2em;
    }

}



