:root{
    --displaymodal: none;
}

article.modal{
    display: var(--displaymodal); 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.485);

    animation-name: opacity;
    animation-duration: 0.4s;

    position: fixed; 
    align-items: center;
    justify-content: center;

}

@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
  }

.modal-content{
    box-sizing: content-box;
    background-color: rgb(240, 240, 240);
    width: 45vw;
    height: 35vh;
    padding: 10px;

    font-size: 1em;

}

/* ----- header menu mobile -----*/
section.headermenu{
    height: auto;
    margin-left: auto; /*especie de justify-self?*/
    align-self: flex-start;
    border-bottom-left-radius: 10px;
}

.headermenu ul{
    display: flex;
    flex-direction: column;


}

.headermenu li{
    cursor: pointer;
    padding: 15px;
    font-size: 2em;
    border-bottom: 1.5px solid rgb(170, 170, 170);
}

.headermenu li:hover{
    background-color: rgb(231, 231, 231);
}

.headermenu li:active{
    background-color: rgb(214, 214, 214);
}




/* ----- mobile media queries -----*/

@media (width <= 480px) {
    .modal-content{
        width: 70vw;
        height: 40vh;
    }
}


/* ----- non specific media queries -----*/

@media (width <= 955px) {
    .modal-content{
        width: 70vw;
        height: 40vh;
    }
}