.signup-article {
    margin: 50px 0px;
    height: 600px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-article form{
    height: 100%;
    box-sizing: border-box;
    width: 600px;
    padding: 30px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signup-article h1{
    font-weight: 1;
}


.signup-article div{
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
    width: 70%;
}


.signup-article form label{
    width: 70%;
}

.signup-article form div label{
    display:block;
    width: 50%;
}

.signup-article form label input{
    width: 100%;
    padding: 10px;

    background-color: rgb(235, 235, 235);
    border: 0;
    border-radius: 10px;
    /*text-align: center;*/

    font-size: 1em;
}

#fecha{
    color: rgb(126, 109, 109);
}

.signup-button{
    width: 70%;
    background: linear-gradient(150deg, rgb(138, 43, 234), rgb(235, 54, 243));
    border-radius: 10px;
    padding: 5px;

    font-size: 1.2em;
    color: rgb(236, 235, 235);
    text-decoration: none;
    text-align: center;
}

.signup-article p{
    font-size: 0.75em;
}

.signup-link:visited{
    color: black;
}


/* ----- non specific media queries -----*/

@media (width <= 900px) {
    .signup-article h1{
        font-size: 2em;
    }

    .signup-article form label input{
        font-size: 1.5em;      
    }

    .signup-button{
        font-size: 1.5em;    
    }
    .signup-article p{
        font-size: 1em;
    }

}

/* ----- mobile media queries -----*/

@media (width <= 480px) {
    .signup-article form{
        background-color: rgba(255, 255, 255, 0);
    }

    .signup-article form label input{
        background-color: rgb(255, 255, 255);
        font-size: 1.5em;
    }

    .signup-article h1, .signup-article p, .signup-link, .signup-link:visited{
        color: rgb(255, 255, 255);
    }

    .signup-button{
        background: rgb(255, 255, 255);
        color: black;
        width: 50%;
        border-radius: 20px;
    }

    .signup-article h1{
        font-size: 2em;
    }

}



