.signup-article {
    height: 600px;
}

.signup-article form {
    width: 600px;
}

.signup-article div {
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
    width: 70%;
}

.signup-article form div label {
    display: block;
    width: 50%;
}

#fecha-form {
    color: rgb(126, 109, 109);
}
