.signup-article {
    height: 600px;
}

.signup-article form {
    width: 50vw;
}

.signup-article div {
    display: flex;
    box-sizing: border-box;
    column-gap: 30px;
    width: 70%;
}

.signup-article form div label {
    display: block;
    width: 50%;
}

#fecha-form {
    color: rgb(126, 109, 109);
}


/* ----- non specific media queries -----*/

@media (width <= 1200px) {
    .signup-article form {
        width: 70vw;
    }
}

/* ----- mobile media queries -----*/

@media (width <= 480px) {
    .signup-article form {
        width: 93vw;
    }
}

